 <article class="post">
      <div class="title">
      </div>
      <div class="meta">
       <a href="/post/{{id}}">{{title}}</a> by {{user.username}} on
         {{format_date  created_at}}
         <br>
         {{post_content}}
        |
        <a href="/post/{{id}}">{{comments.length}}</a>
      </div>
    </article>